<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Bachelor Porject</title>

        <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">

    </head>

    <body>
        <nav>Bachelor Porject</nav>
    
        <div class="chartDiv" >
            <div class="chartContent">
                <h1>Tag Data</h1>    
                <div id="graph0">
                </div>
            </div>
            <div class="chartContent">
                <h1>Gade Data</h1>    
                <div id="graph1">                 
                </div>
            </div>
        </div>
        
    </body>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type='text/javascript'>
        var graph0 = {{ graphJSON0|safe }}
        var graph1 = {{ graphJSON1|safe }}

        Plotly.newPlot("graph0", graph0, {}, {displayModeBar: false});
        Plotly.newPlot("graph1", graph1, {}, {displayModeBar: false});    
    </script>

</html> 